name: Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: pull-test-deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SERVICE_ACCOUNT_KEY }}
        Username: ${{ secrets.USERNAME_github}}
        Password: ${{ secrets.PASSWORD_github}}
        port: 22
        script: |
          cd app
          git pull origin master
          docker compose up -d --build